.headerImage {
    background-image: url('/images/header-image.jpg');
    background-repeat: no-repeat;
    padding-bottom: 200px;
    width: 100%;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;  
}

a {
    font-weight: bold;
}

a:visited {
    color: purple;
    font-weight: bold;
}

.u {
    text-decoration: underline;
}

.container {
    background-color: #fff;
    padding: 0.5em;
}

body {
    padding: 1em;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}