// https://colorhunt.co/
$blue:    #216583 !default;
$indigo:  #c05c7e !default;
$purple:  #e42c64 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #f3826f !default;
$yellow:  #ffb961 !default;
$green:   #32ff6a !default;
$teal:    #60a9a6 !default;
$cyan:    #a8ff3e !default;

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";