.headerImage {
    background-image: url('/images/header-image.jpg');
    background-repeat: no-repeat;
    padding-bottom: 200px;
    width: 100%;
}

a {
	color: blue;
	font-weight: bold;
}

a:visited {
    color: purple;
}

.content {
    padding-bottom: 5em;
	padding-left: 2em;
    padding-right: 2em;
}

.u {
    text-decoration: underline;
}

.hidden {
    visibility: hidden;
}

.mousePointers div {
    background-color: #005;
    color: #FFF;
    float: left;
	margin: 1em;
	padding: 0.5em;
	text-align: center;
    width: 12em;
}

.failingTest {
	color: #F00;
	font-weight: bold;
}

.passingTest {
	color: #080;
	font-weight: bold;
}